.btn {
  display: block;
  width: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  color: $color-light;
  font-size: $font-size;
  border: none;
  box-shadow: 2px 2px 2px 0px $color-shadow;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: lighten($color-brand, 12%);
  }
} 

.btn-primary {
  background-color: $color-brand;
}

.btn-secondary {
  color: $color-bg-secondary;
  border: 2px solid $color-brand;
  background-color: $color-bg;

  &:hover {
    background-color: $color-brand;
    color: $color-light;
  }
}