.btn {
  height: 40px;
  padding: 10px;
  color: $color-main-font;
  font-size: 16px;
  border: none;
  // border: 2px solid $color-brand;
  box-shadow: 2px 2px 2px 0px rgba(204, 204, 204, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: lighten($color-brand, 8%);
  }
} 

.btn-primary {
  background-color: $color-brand;
}

.btn-secondary {
  color: $color-bg-secondary;
  border: 2px solid $color-brand;
  background-color: $color-bg;

  &:hover {
    background-color: $color-brand;
    color: $color-main-font;
  }
}