<main class="main">
  <section class="search-section">
    <form method="GET" class="form">
      <label for="search" class="form__label"></label>
      <!-- poner required en input? -->
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Ej: Lost"
        class="form__search js-search"
        value="girls"
      />
      <input
        type="button"
        name="button"
        id="button"
        value="search"
        class="form__btn js-btn"
      />
    </form>
    <ul class="shows-list js-shows-container">
      <!-- <li>
        <img src="./assets/images/lost.jpg" alt="">
        <h2>Título serie</h2>
      </li> -->
    </ul>
  </section>
</main>
