<main class="main">
  <section class="search-section">
    <form method="GET" class="form">
      <label for="search" class="form__label"></label>
      <!-- poner required en input? -->
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Ej: Lost"
        class="form__search js-search"
      />
      <input
        type="button"
        name="button"
        id="button"
        value="search"
        class="form__btn js-btn"
      />
    </form>
  </section>
  <section class="results-section">
    <ul class="shows-list js-shows-container">
      <!-- <li style="background-color: #ccc" class="shows-list__item" id="">
        <img src="./assets/images/lost.jpg" alt="Imagen de la serie Lost" style="height: 200px" class="shows-list__img" title="Imagen de la serie Lost">
        <h2 class="shows-list__title">Título serie</h2>
      </li> -->
    </ul>
  </section>
  <section class="favorites-section">
    <h2 class="favorites-section__title">Mis series favoritas</h2>
    <ul class="favorites-section__list"></ul>
  </section>
</main>
