<main class="main">
  <section class="search-section">
    <form method="GET" class="form">
      <label for="search" class="form__label"></label>
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Enter a TV show name"
        class="form__search js-search"
      />
      <input
        type="button"
        name="button"
        id="button"
        value="Search"
        class="btn btn-primary js-btn"
      />
    </form>
  </section>
  <section class="results-section">
    <ul class="shows-list js-shows-container">
    </ul>
  </section>
  <section class="favorites-section">
    <h2 class="favorites-section__title">My favorite TV shows</h2>
    <ul class="favorites-list js-favs-container">
    </ul>
    <button class="btn btn-secondary js-delete-btn">Delete favorites</button>
  </section>
</main>
