// Favorites section

.favorites-section {
  min-width: 250px;
  padding: 20px 20px 0 30px;

  &__title {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

.favorites-list {
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }

  &__img {
    height: 120px;
    max-width: 82px;
  }

  &__title{
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
  }

  &__remove-btn {
    height: 20px;
    width: 20px;
    margin-left: 15px;
    justify-self: left;
    background-color: $color-brand;
    color: $color-main-font;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 0px rgba(204, 204, 204, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    text-align: center;
    box-shadow: 2px 2px 2px 0px rgba(204, 204, 204, 0.5);

    &:hover {
      background-color: lighten($color-brand, 8%);
    } 
  }
}

.no-favs-message {
  padding-bottom: 20px;
  color: $color-brand;
}
