// Favorites section

.favorites-section {
  display: none;
  min-width: 250px;
  padding: 1.25rem 1.25rem 0 2rem;

  @include medium {
    display: block;
    padding: 2.5rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
}

.favorites-list {
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.75rem;
    padding-bottom: 1rem;
  }

  &__img {
    height: 11.25rem;
    max-width: 82px;
  }

  &__title{
    font-size: $font-size;
    padding-left: 1rem;
    font-weight: bold;
  }

  &__remove-btn {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 1rem;
    justify-self: left;
    background-color: $color-brand;
    color: $color-light;
    font-size: $font-size;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 0px $color-shadow;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    text-align: center;
    box-shadow: 2px 2px 2px 0px $color-shadow;

    &:hover {
      background-color: lighten($color-brand, 12%);
    } 
  }
}

.no-favs-message {
  padding-bottom: 1.25rem;
  color: $color-brand;
}
