// Footer section

.footer {
  width: 100%;
  flex-shrink: 0;
  padding: 1rem 1.5rem;

  &__text {
    color: $color-light;
    mix-blend-mode: difference;

    @include medium {
      color: unset;
      mix-blend-mode: unset;
    }
  }
}