.header {
  height: 15vh;
  width: 100%;
  background-color: $color-header-bg;
  padding: 25px 50px;
  color: $color-main-font;
  text-align: center;
  // font-size: 18px;


  &__title{
    font-size: 35px;
  }

  &__image {
    height: 70px;
    width: auto;
  }
}