.header {
  width: 100%;
  padding: 1rem;
  background-color: $color-bg-secondary;
  color: $color-light;
  text-align: center;
  flex-shrink: 0;

  &__image {
    max-height: 70px;
    width: auto;

    @include large {
      max-height: initial;
    }
  }
}