.header {
  width: 100%;
  background-color: $color-bg-secondary;
  padding: 25px 50px;
  color: $color-main-font;
  text-align: center;

  &__title{
    font-size: 35px;
  }

  &__image {
    height: 70px;
    width: auto;
  }
}