.main {
  display: flex;
}

.shows-list {
  &__item {
    background-color: lightgreen;
    margin-bottom: 20px;

    //clase de favoritos a añadir en JS
    &--favorite {
      background-color: red;
    }
  }
}

.favorites-section {
  margin-left: 20px;
  background-color: lightskyblue;
}

//clase de favoritos a añadir en JS
// .favorites--selected {
//   background-color: red;
// }

