.main {
  display: grid;
  grid-template-columns: minmax(250px, auto) 1fr;
  grid-template-rows: 120px 1fr;
}

// Search section

.form {
  padding: 40px 20px 20px 30px;

  &__search {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    //  appearance: none;
    width: 250px;
    height: 40px;
    background-color: $color-bg;
    border: none;
    border-bottom: 3px solid black;
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;

      &[placeholder] {
       padding: 0 8px;
      }
  }

  &__btn {
    height: 40px;
    padding: 10px 8px;
    background-color: $color-brand;
    color: $color-main-font;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0px rgba(204, 204, 204, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: lighten($color-brand, 8%);
    } 
  }
}

// Results section

.results-section {
  padding: 30px 20px;
}

.shows-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    background-color: $color-bg;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    border: 3px solid $color-bg-secondary;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 0px rgba(204, 204, 204, 0.5);


    //clase de favoritos añadida en JS
    &--favorite {
      background-color: $color-brand;
      color: white;
      border: none

    }
  }

  &__img {
    height: 300px;
    max-width: 204px;
  }

  &__title {
    padding-top: 10px;
  }
}

// Favorites section

.favorites-section {
  min-width: 250px;
  padding: 20px 20px 0 30px;

  &__title {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
  }
}

.favorites-list {
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

  &__img {
    height: 120px;
    max-width: 82px;
  }

  &__title{
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
  }
}
