body {
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

// Intial background image
.page-wrapper {
  height: 100vh;
  background-image: url(../images/portada.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.not-found {
  height: 100vh;
  background-image: url(../images/notfound.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

// Hides the background image when results get rendered
.hidden {
  background-image: none;
}