body {
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

// intial background img
.page-wrapper {
  height: 100vh;
  background-image: url(../images/portada.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

// not found background img
.not-found {
  height: 100vh;
  background-image: url(../images/notfound.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

// to hide the background img when results get rendered
.hidden {
  background-image: none;
}