body {
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

.page-wrapper {
  height: 100vh;
  background-image: url(../images/portada.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

// to hide the background img when results render
.hidden {
  background-image: none;
}