// Results section

.results-section {
  padding: 2rem 1.25rem;

  &__tips {
    padding-bottom: 1.25rem;
  }
}

.shows-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    background-color: $color-light;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    padding: 1.25rem;
    text-align: center;
    box-shadow: 3px 3px 3px 0px $color-shadow;
    transition: all 0.3s ease-out;


    // favorited class added with JS
    &--favorite {
      background-color: $color-brand;
      color: $color-light;
      border: 3px solid $color-brand;
    }
  }

  &__img {
    aspect-ratio: 1;
    max-height: 180px;

    @include large {
      max-height: 250px;
    }
  }

  &__title {
    font-size: $font-size;
    padding-top: 0.75rem;
  }
}

.error-message {
  padding: 1.25rem 0;
  color: $color-brand;
}

.no-favs {
  padding-bottom: 1.25rem;
}

