// Search section

.form {
  padding: 1.25rem;

  @include medium {
    padding: 2.5rem;
  }

  &__search {
    display: block;
    width: 100%;
    max-width: 30rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-bg;
    border: none;
    border-bottom: 2px solid $color-bg-secondary;
    font-size: $font-size;
    margin-bottom: 1rem;
  }
}
