// Search section

.form {
  padding: 40px 20px 20px 30px;

  &__search {
    width: 250px;
    height: 40px;
    background-color: $color-bg;
    border: none;
    border-bottom: 2px solid $color-bg-secondary;
    margin-right: 10px;
    font-size: 16px;
    margin-bottom: 10px;

    &[placeholder] {
      padding: 0 8px;
    }
  }
}
